*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
.container {
  height: 100%;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.connection {
  height: 45px;
  width: 100%;
  background: #303030;
  margin: 0 auto;
}
.connection__links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.connection__links-phone-mail {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.connection__links-phone-mail a {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}
.connection__links-phone-mail img {
  margin-right: 9px;
}
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__inner-logo {
  text-transform: uppercase;
}
.header__inner-logo h2 {
  font-weight: 100;
}
.header__inner-logo span {
  color: #ffc222;
}
.header__menu {
  margin-right: -24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu li {
  padding: 12px 18px;
  margin: 4px;
  list-style: none;
  border: 1px solid transparent;
}
.header__menu li:hover {
  border: 1px solid #ffc222;
}
.header__menu a {
  text-decoration: none;
  color: #696969;
}
.carousel {
  height: 497px;
  width: 100%;
  background: url(../img/img-header.png) no-repeat;
  background-size: cover;
}
.slider {
  height: 100%;
  width: 100%;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slides {
  height: 100%;
  padding: 0;
  margin: 0;
}

.slides li {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  padding: 1rem 3rem;
  margin: 0;
  height: 100%;
  position: absolute;
  display: none;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.slides li:nth-child(even) {
  background: transparent;
}

.slides li:nth-child(odd) {
  background: transparent;
}

li.prev-slide,
li.active-slide,
li.next-slide {
  display: block;
  top: 0;
}

li.prev-slide {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

li.active-slide {
  left: 0;
}

li.next-slide {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.slider > button {
  position: absolute;
  top: 0;
  border: none;
  padding: 0 1rem;
  font-size: 2rem;
  height: 100%;
  line-height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  cursor: pointer;
  outline: none;
}

.slider > button:hover {
  background: rgba(0, 0, 0, 0.25);
}

.slider > button:first-of-type {
  left: 0;
}

.slider > button:last-of-type {
  right: 0;
}

.beads {
  position: absolute;
  bottom: 1.5rem;
  display: block;
  text-align: center;
  width: 100%;
  height: 10px;
  padding: 0;
  margin: 0;
}
.beads button {
  cursor: pointer;
  outline: none;
}
.beads li {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 0.5rem;
  text-align: center;
}

.beads li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: none;
  padding: 0;
  margin: 0 auto;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  vertical-align: middle;
  opacity: 0.4;
}

.beads li.active button {
  border-radius: 5px;
  opacity: 1;
}
.services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.services__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px;
}
.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px;
  padding-left: 150px;
}
.services-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -30px;
}
.services-description span {
  font-weight: 500;
  font-size: 24px;
}
.services-description p {
  width: 380px;
}
.services-description span::before {
  content: "";
  width: 106px;
  height: 2px;
  background-color: #ffc222;
  display: block;
  position: relative;
  top: 15px;
  left: -135px;
}
.services__inner button {
  width: 222px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
}
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 360px;
  height: 368px;
  padding: 24px 40px 40px;
  margin: 20px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
  box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services-item img {
  width: 50px;
  margin: 0 auto;
}
.services-item span {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.services-list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.services-list-links img {
  width: 100%;
}
.services-list-links a {
  color: #000;
}
.about {
  background: url(../img/bg-learn-more.png) no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  padding: 40px 40px;
}
.about__inner {
  margin-left: -10px;
  padding-right: 50px;
}
.get-consult {
  width: 100%;
  height: 515px;
}
.get-consult-photo {
  width: 319px;
  height: 479px;
  background: url(../img/bg-contact-us.png) no-repeat;
}
.get-consult__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.get-consult__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.get-consult__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 150px;
  margin-bottom: -65px;
}
.get-consult__content__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.get-consult__wrapper h2 {
  font-weight: 500;
  font-size: 24px;
}
.get-consult__wrapper p {
  width: 380px;
}
.get-consult__wrapper h2::before {
  content: "";
  width: 106px;
  height: 2px;
  background-color: #ffc222;
  display: block;
  position: relative;
  top: 15px;
  left: -135px;
}
.get-consult__content__areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 260px;
}
.get-consult__content__areas span {
  margin: 18px 0 10px;
}
.get-consult__content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: 30px;
}
.get-consult__content-main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 30px;
}
.get-consult__content-main-text span {
  margin: 18px 0 10px;
}
.get-consult__content-main-text textarea {
  resize: none;
}
.advantages {
  width: 100%;
  height: 285px;
  background: url(../img/bg-advantages.png) no-repeat;
  background-size: cover;
  color: #fff;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}
.advantages__list__item {
  width: 320px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.news {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.news__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.news__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 150px;
}
.news__description h2 {
  font-weight: 500;
  font-size: 24px;
}
.news__description p {
  width: 380px;
}
.news__description h2::before {
  content: "";
  width: 106px;
  height: 2px;
  background-color: #ffc222;
  display: block;
  position: relative;
  top: 15px;
  left: -135px;
}
.news__inner button {
  width: 222px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
}
.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-right: -40px;
}
.news__list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  width: 262px;
  height: 341px;
  padding: 0 20px 40px;
  margin: 40px;
}
.illustr {
  width: 262px;
}
.news__list__item-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 24px 40px 40px;
  margin: 20px;
  -webkit-box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
  box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.icon {
  display: block;
  position: absolute;
  left: 10px;
}
.location {
  width: 100%;
  background: #595959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  padding: 20px 0;
}
.location__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.location__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.map {
  width: 532px;
  height: 251px;
  background: url(../img/map.png) no-repeat;
  background-size: cover;
}
.location__info a {
  text-decoration: none;
  color: #fff;
}
.location__info img {
  margin-right: 15px;
}
footer {
  width: 100%;
  height: 42px;
  background: #303030;
  color: #fff;
  margin-top: -16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .services-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
  }

  .get-consult-photo {
    display: none;
  }
  .get-consult__description {
    margin-bottom: 20px;
  }
  .get-consult__content-main {
    height: 294px;
  }
}
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}
